{% extends 'base.html.twig' %}

{% block title %}News{% endblock %}

{% block body %}
    <h1>News</h1>
    {% for news in newsList %}
        <article>
            <h2><a href="{{ path('news_detail', { id: news.id }) }}">{{ news.title }}</a></h2>
            <p>{{ news.preview }}</p>
        </article>
    {% endfor %}
{% endblock %}
