{% extends 'base.html.twig' %}

{% block title %}News{% endblock %}

{% block body %}
    <h1>News</h1>
    {% for news in newsList %}
        <article>
            <h2><a href="{{ path('news_detail', { newsId: news.id }) }}">{{ news.name }}</a></h2>
            <p>{{ news.description }}</p>
        </article>
    {% endfor %}
{% endblock %}
