<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}City Chronicle{% endblock %}
    </title>
    <link rel="stylesheet" href="{{ asset('/style/base.css') }}">
</head>
<body class="flex-container">
<header class="container">
    <div class="logo">City Chronicle</div>
    <nav>
        <ul>
{#            <li><a href="##}{#{{ path('home') }}#}{#">Home</a></li>#}
            <li><a href="{{ path('news_list') }}">News</a></li>
        </ul>
    </nav>
</header>

<main class="container flex-grow">
    {% block body %}{% endblock %}
</main>

<footer class="container">
    <div class="footer">© 2023 City Chronicle</div>
</footer>
</body>
</html>

